.flex-box {
    display: flex;
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.card-1 {
    background-image: url(../img/1.png);
    background-size: 500px 320px;
    background-size: cover;
}
.card {
    width: 500px;
    height: 320px;
    margin: 10px;
    border-radius: 0 20px;
    display: inline-block;
    max-width: 50%;
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
}
.card-2 {
    background-image: url(../img/2.jpg);
    background-size: 500px 320px;
    background-size: cover;
}
.card-3 {
    background-image: url(../img/3.jpg);
    background-size: 500px 320px;
    background-size: cover;
}
.card-4 {
    background-image: url(../img/4.png);
    background-size: 500px 320px;
    background-size: cover;
}
.relative {
    position: relative;
    justify-content: center;
}
body {
    background-color: rgb(116, 179, 179);
}
.right {
    justify-content: end;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    padding-top: 5%;
}
.but-1 {
    justify-content: center;
}
.icon {
  padding: 10px;
  border: 3.5px solid #fff;
  background: none;
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EBEBEB;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 0;
}
.icon:hover {
  background: rgb(82, 125, 125);
  color: rgb(251, 244, 244);
}
.left {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    max-width: 600px;
    padding: 5%;
}
.center {
    text-align: center;
}
.elem {
    display: flex;
    justify-content: center;
}
@media (max-width: 600px) {
    .elem {
        display: block;
        padding-left: 10px;
    }
}